:root {
  --primary: #d3869b;
  --dark: #111;
}

body {
  font-family: "Open Sans";
  padding: 20px;
  margin: 0;
  background: #EEE;
}

/*--- navigation bar ---*/

.navbar {
  background: white;
}

.nav-link,
.navbar-brand {
  color: var(--dark);
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: var(--primary);
}

.navbar-collapse {
  justify-content: flex-end;
}

/*--- Header ---*/

.header {
  background-image: url('/img/header.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
}

.description {
  width:100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -55%);
}

.description h1 {
  color: var(--dark);
  font-weight: 600;
}

.description p {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.description img {
  float: right;
  background-color: white;
  width:50%;
  border-width:5px !important;
  border-color:#ddd !important;
}

/*--- Fade line ---*/

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#CCC), to(#CCC), color-stop(50%, #888));
}

/*--- Post ---*/

article {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left:100px;
  padding-right:100px;
}

article h2 {
  font-weight: 400;
  color: var(--dark);
}

article img {
  width: 70%;
}

a {
  color: var(--primary);
  padding-bottom: 5px;
  text-decoration: none;
}

/* Change the link color on hover */
a:hover {
  color: var(--primary);
}
