:root {
  --primary: #d3869b;
  --dark: #111;
}

body {
  font-family: "Open Sans";
  font-size:15px;
  padding: 20px;
  margin: 0;
  background: #f6f6f6;
}

body .container {
  width: 700px;
}

/*--- navigation bar ---*/

.navbar {
  background: white;
}

.nav-link,
.navbar-brand {
  color: var(--dark);
  cursor: pointer;
}

.nav-link {
  margin-right: 10px !important;
  font-size: 13px;
}

.nav-link:hover {
  color: var(--primary);
}

.navbar-collapse {
  justify-content: flex-end;
}


/*--- Header ---*/

#header {
  text-align: center;
}

#header img {
  padding-top:30px;
  padding-bottom:30px;
  background-color: white;
  width:40%;
}

#header h1{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
}


/*--- Post ---*/

article {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

article h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: var(--dark);
}

article img {
  width: 50%;
}

article time{
  font-size: 13px;
}

a {
  font-size: 13px;
  color: var(--primary);
  padding-bottom: 5px;
  text-decoration: none;
}

/* Change the link color on hover */
a:hover {
  color: var(--primary);
}
