:root {
  --primary: #d3869b;
  --dark: #111;
}

body {
  font-family: "Open Sans";
  padding: 20px;
  margin: 0;
  background: #EEE;
}

/*--- navigation bar ---*/

.navbar {
  background: white;
}

.nav-link,
.navbar-brand {
  color: var(--dark);
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: var(--primary);
}

.navbar-collapse {
  justify-content: flex-end;
}

/*--- Header ---*/

#header {
  text-align: center;
}

#header img {
  padding-top:30px;
  padding-bottom:30px;
  background-color: white;
  width:40%;
}

#header h1{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
}


/*--- Fade line ---*/

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#CCC), to(#CCC), color-stop(50%, #888));
}


/*--- Post ---*/

article {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left:100px;
  padding-right:100px;
}

article h2 {
  font-weight: 400;
  color: var(--dark);
}

article img {
  width: 70%;
}

a {
  color: var(--primary);
  padding-bottom: 5px;
  text-decoration: none;
}

/* Change the link color on hover */
a:hover {
  color: var(--primary);
}
