<style>
  :root {
    --width: 840px;
    --font-main: roboto;
    --font-secondary: sans-serif;
    --font-scale: 18px;
    --background-color: #fafafa;
    --heading-color: #222;
    --text-color: #383a42;
    --link-color: #3d74f6;
    --visited-color: #3d74f6;
    --blockquote-color: #222;
  }

  body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
  }

  h1 {
    font-size: 2.2em;
  }
 
 
  h2 {
    font-size: 1.8em;
  }

  a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  nav a {
    margin-right: 8px;
  }

  strong,
  b {
    color: var(--heading-color);
  }

  button {
    margin: 0;
    cursor: pointer;
  }

  time {
    font-family: monospace;
    font-style: normal;
    font-size: 15px;
  }

  main {
    line-height: 1.5;
  }

  table {
    width: 100%;
  }

  hr {
    height: 1px;
    border: none;
    background-color: #CCC;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  img {
    width: 100%;
    display: block;
    border-radius: 0.5em;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
  }

  code {
    font-family: monospace;
    padding: 2px;
    border-radius: 3px;
    font-size: 0.8em;
  }

  blockquote {
    border-left: 1px solid #999;
    color: var(--blockquote-color);
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px 0;
    text-align: center;
  }

  .title:hover {
    text-decoration: none;
  }

  .title h1 {
    font-size: 1.5em;
  }

  .inline {
    width: auto !important;
  }

  pre {
    border-radius: 0.5em;
    padding: 1.5em 1.5em;
    margin-top: 3em;
    font-size: 1.2em;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
    background: #EEE;
  }

  .mermaid {
    text-align: center;
  }


  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: var(--visited-color);
  }

  details {
    border: 1px solid;
    border-radius: 10px;
    margin: 1em 0;
    overflow: hidden;
    border-color: #dbdbdc;
  }
  
  details summary {
    background: #eaeaeb;
    padding: 1em 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  details summary:hover {
    background: #dbdbdc;
  }
  
  details summary::after {
    content: "+";
    font-weight: bold;
    font-size: 1.2rem;
    color: #666;
  }

  details[open] summary::after {
    content: "−";
  }
  
  details .content {
    padding: 1em 1.5em;
  }

  .twocol-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0em;
    align-items: top;
    margin-top: 1em;
  }

  .twocol-image {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .twocol-image img {
    width: 200px;
    float: right;
  }
  
  @media (max-width: 575px) {
    .twocol-container {
      grid-template-columns: 1fr;
      gap: 0rem;
    }

    .twocol-image img {
      float: none;
      width: 100%;
    }
  }

  ul li {
    margin-bottom: 0.5em;
  }
  
  .language-dropdown {
    text-align: right;
    padding-bottom: 2em;
  }

  .language-dropdown select {
    padding: 0.4rem 2rem 0.4rem 0.75rem;
    border-radius: 0.3em;
    border: 1px solid #dbdbdc;
    font-size: 0.8em;
  }

</style>
